@inherits PipelineUnavailableBase
@attribute [Authorize]

<center>
    <br />
    <br />
    <br />
    <img class="centered-image" src="/images/unavailable.svg" alt="UnAvailable Pipeline Image" height="250" />
    <p class="muted-text">Under Construction! <br /> @PipeLineName Pipeline cannot be accessed or Yaml File cannot be parsed!</p>
</center>