﻿<CascadingValue Value="this">
    <ul class="list-group list-group-horizontal">
        @foreach (TabPage tabPage in Pages)
        {
            <button type="button" style="all:unset" @onclick=@( () => ActivatePage(tabPage) )>
            <li style="border-style:@GetButtonClass(tabPage); border-radius:5px; font-size:12px; font-weight:bold" class="list-group-item">@tabPage.Text</li>
            </button>
        }
    </ul>
    <hr style="margin:0px;" />
    @ChildContent
</CascadingValue>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public TabPage? ActivePage { get; set; }
    List<TabPage> Pages = new List<TabPage>();

    internal void AddPage(TabPage tabPage)
    {
        Pages.Add(tabPage);
        if (Pages.Count == 1)
            ActivePage = tabPage;
        StateHasChanged();
    }

    string GetButtonClass(TabPage page)
    {
        return page == ActivePage ? "outset" : "hidden";
    }

    void ActivatePage(TabPage page)
    {
        ActivePage = page;
    }
}