@page
@using TrackMate.Areas.Identity.Pages.Account
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}
<style>

    .box {
        -webkit-box-shadow: 0px 0px 18px 2px rgba(89,89,89,0.45);
        box-shadow: 0px 0px 14px 2px rgba(89,89,89,0.45);
        min-height: 70vh;
        max-width: 35vw;
        padding: 40px;
        display: block;
        background-image: url("/images/about-background.png");
    }
</style>
<center>
    <div class="container-fluid" style="padding-top:30px;">
        <div class="row d-flex justify-content-center align-items-center box">
            

                @if (ViewData["Message"] != null)
                {
                    <p style="color:red">@ViewData["Message"]</p>
                }
                <div>
                    <h3 class="text-center">
                        Change Password
                    </h3>
                    <br />

                    <form id="account" method="post">

                        <div class="form-group">

                            <input type="text" class="form-control" name="NewPassword"  asp-for="Input.NewPassword" placeholder="New Password">
                        </div>
                        <br />
                        <div class="form-group">

                            <input type="text" class="form-control" name="OldPassword" asp-for="Input.OldPassword" placeholder="Old Password">
                        </div>
                        <br />
                        <p class="muted-text" style="font-size:10px;">1 UpperCase, 1 LowerCase, 1 Special Character, Min 6 Characters</p>
                        <center>
                            <button type="submit" class="btn btn-primary btn-md mt-3">Submit</button>
                        </center>
                    </form>
                </div>

            </div>
        </div>

</center>
