.form-popup[b-uy32ge92kg] {
    display: none;
    position: fixed;
    right: 0;
    top: 102px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    display: block
}

.form-container[b-uy32ge92kg] {
    max-width: 300px;
    min-width: 300px;
    padding: 10px;
    background-color: white;
}

.filter-badge[b-uy32ge92kg] {
    background-color: #f5f4f2;
    color: gray;
    border: black;
    font-size: 10px;
}

    .filter-badge:hover[b-uy32ge92kg] {
        box-shadow: 0px 0px 5px 0px rgba(212,212,212,0.75);
        -webkit-box-shadow: 0px 0px 5px 0px rgba(212,212,212,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(212,212,212,0.75);
    }
.textTooltip[b-uy32ge92kg] {
    position: relative;
    text-decoration:none;

}

    .textTooltip:hover[b-uy32ge92kg]::after {
        background: #FFEEF4;
        color: #262f1d;
        border-radius: 4px;
        bottom: 100%;
        content: attr(titleContent);
        display: block;
        left: 100%;
        padding: 1em;
        padding-left: 1.5em;
        position: absolute;
        width: 250px;
        z-index: 1;
        white-space: pre-line;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        box-shadow: 0px 0px 5px 0px rgba(212,212,212,0.75);
        -webkit-box-shadow: 0px 0px 5px 0px rgba(212,212,212,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(212,212,212,0.75);
    }
