@using BlazorServerAppWithIdentity.Hubs;
@using BlazorServerAppWithIdentity.Models;
@using BlazorServerAppWithIdentity.Services;

@inherits LayoutComponentBase

<PageTitle>App Name</PageTitle>

<div class="page">
    <div class="sidebar">

        <NavMenu />

    </div>

    <main>

        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <div class="dropdown">
                        <button class="dropbtn">@context?.User?.Identity?.Name <span class="oi oi-chevron-bottom" aria-hidden="true" style="color:dimgray"></span></button>

                        <div class="dropdown-content">
                            <a href="Identity/Account/ChangePassword">Change Password</a>
                            <a href="Identity/Account/Logout">Logout</a>
                        </div>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <a href="/Identity/Account/Login">Login</a>
                </NotAuthorized>
            </AuthorizeView>


        </div>


        <article class="content body-bg px-4">
            @Body
        </article>
    </main>
</div>

@code {

}