@using BlazorServerAppWithIdentity.Services;
@using Blazored.LocalStorage;
@inject AuthenticationStateProvider _auth

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">App Name</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass " @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Users">
                        <span class="oi oi-plus" aria-hidden="true"></span> Users
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Machines">
                        <span class="oi oi-monitor" aria-hidden="true"></span> Machines
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Pipelines">
                        <span class="oi oi-location" aria-hidden="true"></span> PipeLines
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Identity/Account/Logout">
                        <span class="oi oi-lock-locked" aria-hidden="true"></span> Logout
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Identity/Account/Login" Match="NavLinkMatch.All">
                        <span class="oi oi-lock-locked" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

    </nav>
</div>


@code {
    [Inject]
    public IHttpContextAccessor HttpContextAccessor { get; set; }
    [Inject]
    public AzureService AzureService { get; set; }
    [Inject]
    public ILocalStorageService LocalStorage { get; set; }
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated && (await LocalStorage.GetItemAsStringAsync("AzDoToken")) == null)
        {
            AzureService.GetToken();
        }
        if (!HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
        {
            await LocalStorage.ClearAsync();
        }

    }
    

}
