/* _content/BlazorServerAppWithIdentity/Pages/Notifications.razor.rz.scp.css */

.notification-leftpanel[b-0i1gl7fp27] {
    padding: 20px;
    box-shadow: 2px 2px 10px #DADADA;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 1px;
    min-height: 80vh;
}

.notification-rightpanel[b-0i1gl7fp27] {
    padding: 20px;
    box-shadow: 2px 2px 10px #DADADA;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1px;
    min-height: 80vh;
}

.alert[b-0i1gl7fp27] {
    padding: 20px;
    box-shadow: 1px 1px 10px #e8e8e8;
    background-color: #f7fbfc;
    color: black;
    margin-bottom: 15px;
    font-size:12px;
}
.notification-time[b-0i1gl7fp27] {
    color: gray;
    padding-bottom: 2px;
    
}
.notification-clear[b-0i1gl7fp27] {
    float: right;
    font-size: 12px;
    color: #0071c1;
    text-decoration: underline;
    cursor: pointer;
}
/* The close button */
.closebtn[b-0i1gl7fp27] {
    margin-left: 15px;
    color: #5b5c5c;
    font-weight: bold;
    float: right;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    /* When moving the mouse over the close button */
    .closebtn:hover[b-0i1gl7fp27] {
        color: black;
    }
.switch[b-0i1gl7fp27] {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

    /* Hide default HTML checkbox */
    .switch input[b-0i1gl7fp27] {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider[b-0i1gl7fp27] {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider[b-0i1gl7fp27]:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 15px;
        left: 2px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider[b-0i1gl7fp27] {
    background-color: #0e415c;
}

input:focus + .slider[b-0i1gl7fp27] {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider[b-0i1gl7fp27]:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round[b-0i1gl7fp27] {
    border-radius: 34px;
}

    .slider.round[b-0i1gl7fp27]:before {
        border-radius: 50%;
    }

.btn-primary:disabled[b-0i1gl7fp27] {
    background-color: #9E9FA5;
    border: none;
}
button:focus[b-0i1gl7fp27]{
    outline:0;
    box-shadow: none;
}
/* _content/BlazorServerAppWithIdentity/Shared/MainLayout.razor.rz.scp.css */
.page[b-v8otx28efa] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-v8otx28efa] {
    flex: 1;
}

.sidebar[b-v8otx28efa] {
    background-color: #0e415c;
}

.top-row[b-v8otx28efa] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.3rem;
    display: flex;
    align-items: center;
}

    .top-row[b-v8otx28efa]  a, .top-row .btn-link[b-v8otx28efa] {
        white-space: nowrap;
   
    }

    .top-row a:first-child[b-v8otx28efa] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.dropbtn[b-v8otx28efa] {
    
    color: black;
    padding: 16px;
    font-size: 14px;
    font-weight:500;
    border: none;
}

.dropdown[b-v8otx28efa] {
    position: relative;
    display: inline-block;
}

.dropdown-content[b-v8otx28efa] {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.1);
    z-index: 1;
    font-size:12px;
}

    .dropdown-content a[b-v8otx28efa] {
        color: black;
        padding: 8px 12px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover[b-v8otx28efa] {
            background-color: #2c5469;
            color: white;
        }

.dropdown:hover .dropdown-content[b-v8otx28efa] {
    display: block;
}

.dropdown:hover .dropbtn[b-v8otx28efa] {
    background-color: #e1e1e1;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-v8otx28efa] {
        display: none;
    }

    .top-row.auth[b-v8otx28efa] {
        justify-content: space-between;
    }

    .top-row a[b-v8otx28efa], .top-row .btn-link[b-v8otx28efa] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-v8otx28efa] {
        flex-direction: row;
    }

    .sidebar[b-v8otx28efa] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-v8otx28efa] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-v8otx28efa], article[b-v8otx28efa] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BlazorServerAppWithIdentity/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-rkp91xzp5a] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-rkp91xzp5a] {
    height: 3.3rem;
    background-color: #0e415c;
}

.navbar-brand[b-rkp91xzp5a] {
    font-size: 1.1rem;
}

.oi[b-rkp91xzp5a] {
    width: 2rem;
    font-size: 0.8rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-rkp91xzp5a] {
    font-size: 0.8rem;
    padding-bottom: 0.4rem;
}

    .nav-item:first-of-type[b-rkp91xzp5a] {
        padding-top: 0.7rem;
    }

    .nav-item:last-of-type[b-rkp91xzp5a] {
        padding-bottom: 1rem;
    }

    .nav-item[b-rkp91xzp5a]  a {
        color: #d7d7d7;
        border-radius: 2px;
        height: 2.5rem;
        display: flex;
        align-items: center;
        line-height: 2.5rem;
    }

        .nav-item[b-rkp91xzp5a]  a.active {
            background-color: #2c5475;
            color: white;
        }

        .nav-item[b-rkp91xzp5a]  a:hover {
            background-color: #2c5469;
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-rkp91xzp5a] {
        display: none;
    }

    .collapse[b-rkp91xzp5a] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
