@inherits BuildAndDeployBase
@attribute [Authorize]

<div class="container container-form">
    <a href="@runsLink" style="float:right">Runs</a>
    <h4 class="about-head">@PipeLineName </h4>
    @if (notification != "")
    {
        <div class="alert alert-success">
            @notification
            <span style="float:right">
                <button type="button" class="close icon-button" @onclick="clearNotification">
                    <span aria-hidden="true">X</span>
                </button>
            </span>
        </div>
    }
    <br />
    <form @onsubmit="RunPipeline">
        <div class="row">

            <div class="col-md-6 col-lg-6">

                <div class="form-group">
                    <label asp-for="TSBuildAgentDeploymentConfigFileName" class="control-label">Configuration <br /><br /></label>
                    <select asp-for="TSBuildAgentDeploymentConfigFileName" class="form-control" @bind="@TSBuildAgentDeploymentConfigFileName" required>
                        <option value="TestStand-BuildAgent-Production">TestStand-BuildAgent-Production</option>
                        <option value="TestStand-BuildAgent-Validation">TestStand-BuildAgent-Validation</option>
                        <option value="TestStand-BuildAgent-PR">TestStand-BuildAgent-PR</option>
                    </select>
                    <span style="font-size:11px; color:#595a5c;">
                        <br /> Production deploys only the build agent selected below.
                        <br /> Validation deploys TS-BA-IAC-PD-3.<br /> PR deploys all TS-PR-BUILD-# agents.<br />
                    </span>
                </div>
                <br />

            </div>
            <div class="col-md-6 col-lg-6">

                <div class="form-group">
                    <label asp-for="TSBuildAgentName" class="control-label">TestStand Build Agent Name <br /><br /></label>
                    <select asp-for="TSBuildAgentName" class="form-control" @bind="@TSBuildAgentName" required>
                        <option value="TS-BA-IAC-PD-5">TS-BA-IAC-PD-5</option>
                        <option value="TS-BA-IAC-PD-6">TS-BA-IAC-PD-6</option>
                    </select>
                    <span style="font-size:11px; color:#595a5c">
                        <br /> used for TestStand-BuildAgent-Production only <br />
                        Ignored for other configurations <br />
                    </span>
                </div>
                <br />
                <br /><br />
                <div style="float:right;">
                    <button class="btn btn-primary btn-md" disabled="@isSubmitting" type="submit" style="float:right;width:80px;">Run</button>
                </div>
            </div>

        </div>
    </form>
</div>
